.btn-group{
    display:flex;
    flex-wrap: wrap;
    gap:0.5rem;
}

.btn{
    font-size:1rem;
    padding:0.5rem 1rem;
    border-radius:1rem;
    text-decoration: none;
}

.btn-hero{
    background: #581ABB;
    background: linear-gradient(208deg, rgba(88, 26, 187, 1) 30%, rgba(140, 100, 204, 1) 100%);
    color:$text-invert;
    border:none;
}

.btn-outline{
    background-color:transparent;
    color:$text-primary;
    border:1px solid $text-primary;
}