.contact-form{
    padding:1rem;
    border:1px solid $br-color;
    border-radius:12px;
    width:100%;
    font-size:1.5rem;

    input,select{
        border:none;
        border-bottom:2px solid $br-color;
        font-size:1.5rem;
        width:auto;
        padding-left:0.25rem;

        &:focus{
            outline:none;
            border-bottom: 2px solid $color-accent-1;
            font-size:1rem;
        }

        &::placeholder{
            color:$br-color;
        }
    }

    select{
        min-width:300px;
    }

    textarea{
        font-size:1rem;
        margin-top:0.25rem;
        padding:0.25rem;
        resize:vertical;
        min-height:200px;
        width:100%;
        border:2px solid $br-color;
        border-radius: 12px;
        &:focus{
            outline:none;
            border:2px solid $color-accent-1;
        }
    }

    option.placeholder{
        color:$br-color;
    }

    .form-info{
        font-size:0.8rem;
        margin:0;
    }
}