.hero-section{
    background: #d49639;
    background: linear-gradient(256deg,rgba(212, 150, 57, 1) 0%, rgba(252, 239, 54, 1) 63%);
    color:$text-primary;
    position:relative;
    min-height:25vh;
    padding:3rem 2rem;

    .hero-container{
        width:auto;
        max-width:$viewport-lg;
        position: relative;
        margin:auto;
        display:flex;
        width: 100%;
    }

    .hero-caption{
        width:40%;
        margin-bottom:2rem;
    }

    .hero-image{
        width:60%;
        img{
            z-index:100;
            height:auto;
            width: 100%;
            object-fit: cover;
            margin:auto;
            position:relative;
        }
    }
}

@media(max-width:$viewport-md){
    .hero-section{
        padding:3rem 1rem 4rem 1rem;
        .hero-caption{
            width:50%;
        }
        .hero-image{
            width:50%;
        }
    }
}

@media(max-width:$viewport-sm){

    .hero-section{
        padding:2rem 1rem 0 1rem;
        .hero-container{
            display:flex;
            flex-direction:column;
            .hero-caption{
                width:100%;
            }
            .hero-image{
                width:100%;
            }
        }
    }
}

.custom-shape-divider-bottom-1755971211 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1755971211 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1755971211 .shape-fill {
    fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 900px) {
    .custom-shape-divider-bottom-1755971211 svg {
        width: calc(150% + 1.3px);
        height: 80px;
    }
}