/* Base reset */
input,
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
}

/* --- Specific fixes --- */
/* Search inputs (remove X icon in Chrome/Edge/Safari) */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/* Number inputs (remove spinners) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

/* Date/Time pickers (calendar/clock icon) */
input[type=date]::-webkit-calendar-picker-indicator,
input[type=time]::-webkit-calendar-picker-indicator {
  opacity: 0.6; /* or 0 to fully hide */
}

/* Select dropdown (custom arrow) */
select {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1em;
  padding-right: 2rem;
}

select::-ms-expand {
  display: none; /* Old IE/Legacy Edge arrow */
}

/* File input (custom button) */

input[type=file]::file-selector-button {
  border: none;
  background: none;
  padding: 0;
}

/* Autofill fix (Chrome/Edge/Safari) */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px inherit inset;
  -webkit-transition: background-color 9999s ease-out;
  transition: background-color 9999s ease-out;
}

.fs-h1 {
  font-size: 2rem !important;
}

@media (max-width: 1280px) {
  .fs-lg-sm {
    font-size: 0.8rem !important;
  }
}

.fs-sm {
  font-size: 0.8rem !important;
}

.fs-xs {
  font-size: 0.6rem !important;
}

@media (max-width: 1280px) {
  .fs-lg-xs {
    font-size: 0.6rem !important;
  }
}

.text-center {
  text-align: center;
}

.bg-invert {
  color: #fcfcfc;
  background-color: #0e0e0e;
}

.bg-dark {
  background-color: #1d1d1d;
  color: #fcfcfc;
}

.bg-secondary {
  color: #0e0e0e;
  background-color: #f5f5f5;
}

.bg-tertiary {
  color: #0e0e0e;
  background-color: #eeeeee;
}

.bg-hero {
  background-color: #fcef36;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.text-link {
  text-decoration: none;
  color: inherit;
  transition: background 0.2s, background-color 0.2s, color 0.2s;
}
.text-link:hover {
  color: #581abb;
}
.text-link svg {
  color: inherit;
}

.portfolio-card {
  width: auto;
  border-radius: 12px;
  border: 1px solid #808080;
  overflow: hidden;
  max-width: 720px;
  margin: 0 auto;
  background-color: #fcfcfc;
  color: #0e0e0e;
}
.portfolio-card .card-img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio-card .card-body {
  padding: 0.5rem;
}
.portfolio-card .card-body .card-title {
  font-weight: 700;
}
.portfolio-card .card-body p {
  margin: 0.5rem 0;
}
.portfolio-card .card-body .btn {
  margin-top: 1rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn {
  font-size: inherit;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  text-decoration: none;
  transition: background 0.2s, background-color 0.2s, color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
}

.btn-hero {
  background-color: #581abb;
  color: #fcfcfc;
  border: none;
}
.btn-hero:hover {
  background: #6f42b8;
  color: #fcfcfc;
}

.btn-outline {
  background-color: transparent;
  color: #0e0e0e;
  border: 1px solid #0e0e0e;
}
.btn-outline:hover {
  background-color: #0e0e0e;
  color: #fcfcfc;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top-color: #FCEF36;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: auto;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
figure {
  margin: 0.5rem 0;
}
figure img {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.accordion .acc-item {
  border-bottom: 1px solid #0e0e0e;
}
.accordion .acc-item .acc-head {
  display: flex;
  background: none;
  border: none;
  font-size: 1rem;
  justify-content: space-between;
  width: 100%;
  margin: 0.75rem 0;
  align-items: center;
  padding: 0;
  text-align: start;
}
.accordion .acc-item .acc-head::after {
  content: "+";
  margin-left: 1rem;
}
.accordion .acc-item .acc-content {
  max-height: 0;
  transition: max-height 0.2s, padding-bottom 0.2s;
  overflow: hidden;
  padding-bottom: 0;
  color: #1f1f1f;
}
.accordion .acc-item .acc-content p {
  margin: 0;
}
.accordion .acc-item.show .acc-head::after {
  content: "-";
}
.accordion .acc-item.show .acc-content {
  max-height: 500px;
  padding-bottom: 1rem;
}

.contact-form {
  width: 100%;
  min-height: 200px;
  max-width: 960px;
}
.contact-form #website, .contact-form #message {
  display: none;
}
.contact-form .form-heading {
  font-size: inherit;
  margin: 1rem 0;
}
.contact-form .input-row {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  gap: 0.25rem;
  flex-wrap: wrap;
}
.contact-form .input-row label {
  flex: 0 0 auto;
  white-space: nowrap;
  font-weight: 500;
}
.contact-form .input-row input, .contact-form .input-row select {
  border: none;
  border-bottom: 1px solid #808080;
  flex: 1;
  font-size: 1rem;
  background-color: inherit;
  color: inherit;
}
.contact-form .input-row input:focus, .contact-form .input-row select:focus {
  outline: none;
  border-bottom: 1px solid #FCEF36;
}
.contact-form .input-row input::-moz-placeholder, .contact-form .input-row select::-moz-placeholder {
  color: #808080;
}
.contact-form .input-row input::placeholder, .contact-form .input-row select::placeholder {
  color: #808080;
}
.contact-form .input-row textarea {
  margin-top: 0.25rem;
  border: none;
  font-size: 1rem;
  padding: 0;
  resize: vertical;
  flex: 1;
  color: inherit;
  border-bottom: 1px solid #808080;
  font-family: "Inter", sans-serif;
}
.contact-form .input-row textarea:focus {
  outline: none;
  border-bottom: 1px solid #FCEF36;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 0.25rem;
  background-color: #fcfcfc !important;
  color: #0e0e0e !important;
}
select option:hover {
  background-color: #FCEF36 !important;
}

.message-container {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-container .alert {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #808080;
  width: 100%;
}
.message-container .alert.error {
  background-color: rgba(255, 0, 0, 0.4941176471);
}
.message-container .alert.success {
  background-color: rgba(83, 156, 0, 0.5333333333);
}

@media (max-width: 960px) {
  .contact-form .input-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
.testimonials .title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  position: relative;
  margin: 2rem auto;
}
.testimonials .title svg {
  position: absolute;
  top: -2rem;
  left: -2rem;
}
.testimonials .title span {
  position: relative;
  font-weight: 700;
}
.testimonials .card-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.testimonials .card-container .testimonial-card {
  background-color: #fcfcfc;
  color: #0e0e0e;
  font-weight: 200;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1px solid #808080;
  position: relative;
  width: 50%;
}
.testimonials .card-container .testimonial-card blockquote {
  margin: 1rem 0;
}
.testimonials .card-container .testimonial-card i {
  font-size: 0.8rem;
}
.testimonials .card-container .testimonial-card svg {
  position: absolute;
  top: -40px;
  left: 0;
  color: #808080;
}

.site-header {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  min-width: 300px;
  transition: background 0.2s, background-color 0.2s, color 0.2s;
  z-index: 1000;
}
.site-header.scrolled {
  background-color: #fcfcfc;
  color: #0e0e0e;
  border-bottom: 1px solid #808080;
}
.site-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  width: auto;
  margin: 0 auto;
  padding: 0.25rem 1rem;
}
.site-header .header-container .site-branding {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.site-header .header-container .site-branding h2 {
  margin: 0;
}
.site-header .header-container .navigation-container .menu-btn {
  display: none;
  height: 2rem;
  width: 2rem;
  padding: 0;
  background-color: #0e0e0e;
  border: none;
  border-radius: 12px;
}
.site-header .header-container .navigation-container .menu-btn svg {
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
  color: #fcfcfc;
}
.site-header .header-container .navigation-container .menu-container {
  display: inline-block;
}
.site-header .header-container .navigation-container .menu-container ul.nav-link-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 960px) {
  .site-header .header-container {
    position: relative;
    height: 50px;
  }
  .site-header .header-container .navigation-container .menu-btn {
    display: flex;
    align-items: start;
  }
  .site-header .header-container .navigation-container .menu-container {
    position: absolute;
    top: 60px;
    right: 1rem;
    padding: 0;
    overflow: hidden;
    transition: max-height 0.2s, padding 0.2s, border 0.2s;
    max-height: 0;
    transform-origin: top;
    background-color: #fcfcfc;
    border-radius: 12px;
    border: none;
    width: 60%;
  }
  .site-header .header-container .navigation-container .menu-container.collapsed {
    max-height: 100vh;
    padding: 1rem;
    border: 1px solid #808080;
  }
  .site-header .header-container .navigation-container .menu-container ul.nav-link-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .site-header .header-container .navigation-container .menu-container ul.nav-link-list li {
    text-align: start;
    font-size: 1.5rem;
    border-bottom: 1px solid #808080;
    width: 100%;
  }
  .site-header .header-container .navigation-container .menu-container ul.nav-link-list li.noborder {
    border-bottom: none;
  }
  .site-header.scrolled .navigation-container .menu-container {
    border-radius: 0 0 12px 12px;
  }
}
.flex-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 1rem;
  margin: 0.5rem 0;
}
@media (max-width: 960px) {
  .flex-row.md-col {
    flex-direction: column;
  }
}

.flex-col {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

section {
  min-height: 50vh;
  padding: 2rem 1rem;
  position: relative;
}
section .section-heading {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
section .section-heading p, section .section-heading h1, section .section-heading h2, section .section-heading h3 {
  margin: 0;
}

.container {
  width: auto;
  max-width: 1280px;
  margin: 0 auto;
}

.container-md {
  width: auto;
  max-width: 960px;
  margin: 0 auto;
}

.container-sm {
  width: auto;
  max-width: 720px;
  margin: 0 auto;
}

.container-xl {
  width: auto;
  max-width: 1600px;
  margin: 0 auto;
}

.site-footer {
  padding: 1rem;
}
.site-footer .site-info {
  text-align: center;
}

.custom-shape-divider-top-1756268948 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1756268948 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 59px;
}

.custom-shape-divider-top-1756268948 .shape-fill {
  fill: #FCEF36;
}

.custom-shape-divider-bottom-1756269091 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1756269091 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1756269091 .shape-fill {
  fill: #FCEF36;
}

.hero-section {
  background: #fcef36;
  background: linear-gradient(256deg, rgb(212, 150, 57) 0%, #fcef36 63%);
  color: #0e0e0e;
  position: relative;
  min-height: 25vh;
  padding: 3rem 2rem;
}
.hero-section .hero-container {
  width: auto;
  max-width: 1280px;
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
}
.hero-section .hero-caption {
  width: 40%;
  margin-bottom: 2rem;
}
.hero-section .hero-image {
  width: 60%;
}
.hero-section .hero-image img {
  z-index: 100;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  position: relative;
}

@media (max-width: 960px) {
  .hero-section {
    padding: 3rem 1rem 4rem 1rem;
  }
  .hero-section .hero-caption {
    width: 50%;
  }
  .hero-section .hero-image {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .hero-section {
    padding: 2rem 1rem 0 1rem;
  }
  .hero-section .hero-container {
    display: flex;
    flex-direction: column;
  }
  .hero-section .hero-container .hero-caption {
    width: 100%;
  }
  .hero-section .hero-container .hero-image {
    width: 100%;
  }
}
.custom-shape-divider-bottom-1755971211 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1755971211 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1755971211 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 900px) {
  .custom-shape-divider-bottom-1755971211 svg {
    width: calc(150% + 1.3px);
    height: 80px;
  }
}
.service-section {
  padding-bottom: 6rem;
}
.service-section .service-row {
  display: flex;
  flex-wrap: nowrap;
}
.service-section .service-row .service-col {
  flex-grow: 1;
  padding: 0 1rem;
}
.service-section .service-row .service-col .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #808080;
  padding: 0.5rem;
  font-size: 1rem;
}
.service-section .service-row .service-col .heading svg {
  margin: 0;
  height: 1.5rem;
  width: 1.5rem;
  color: #fcfcfc;
}

@media (max-width: 960px) {
  .service-section .service-row {
    flex-direction: column;
  }
}
.custom-shape-divider-bottom-1755987311 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1755987311 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1755987311 .shape-fill {
  fill: #eeeeee;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900; /* covers all weights */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
html {
  font-size: 32px;
}
html body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 300px;
  background-color: #fcfcfc;
  color: #0e0e0e;
}

@media (max-width: 1600px) {
  html {
    font-size: 28px;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 24px;
  }
}
@media (max-width: 960px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 18px;
  }
}
h1 {
  font-size: 2rem;
  line-height: 2rem;
}

.has-subheading {
  margin-bottom: 0.25rem;
}

.subheading {
  font-size: 1.25;
  margin-top: 0;
  font-weight: 700;
}

p {
  margin: 0.25rem 0;
}

ul {
  margin: 0.25rem 0;
}/*# sourceMappingURL=style.css.map */