@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import '_variables.scss';
@import '_header.scss';
@import '_page.scss';
@import '_buttons.scss';
@import '_hero.scss';

html{
    font-size:28px;
    body{
        font-family: "Inter", sans-serif;
        margin:0;
        min-width:300px;
        background-color: $color-primary;
        color:$text-primary;
    }
}

@media(max-width:1200px){
    html{
        font-size:24px;
    }
}

@media(max-width:960px){
    html{
        font-size:20px;
    }
}

@media(max-width:720px){
    html{
        font-size:18px;
    }
}

h1{
    font-size:2rem;
    line-height:2rem;
}
