@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.fs-h1 {
  font-size: 2rem;
}

.text-center {
  text-align: center;
}

.bg-invert {
  color: #fcfcfc;
  background-color: #0e0e0e;
}

.bg-secondary {
  color: #0e0e0e;
  background-color: #f5f5f5;
}

.bg-tertiary {
  color: #0e0e0e;
  background-color: #eeeeee;
}

.site-header {
  background-color: transparent;
  position: fixed;
  width: 100vw;
  min-width: 300px;
  transition: background-color 0.2s, color 0.2s;
  z-index: 1000;
}
.site-header.scrolled {
  background-color: #fcfcfc;
  color: #0e0e0e;
  border-bottom: 1px solid #808080;
}
.site-header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1366px;
  width: auto;
  margin: 0 auto;
  padding: 0.25rem 1rem;
}
.site-header .header-container .site-branding h2 {
  margin: 0;
}
.site-header .header-container .navigation-container .menu-btn {
  display: none;
  height: 2rem;
  width: 2rem;
  padding: 0;
  background-color: #0e0e0e;
  border: none;
  border-radius: 12px;
}
.site-header .header-container .navigation-container .menu-btn svg {
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
  color: #fcfcfc;
}
.site-header .header-container .navigation-container .menu-container {
  display: inline-block;
}
.site-header .header-container .navigation-container .menu-container ul.nav-link-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}
.site-header .header-container .navigation-container .menu-container ul.nav-link-list li a.nav-link {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

@media (max-width: 960px) {
  .site-header .header-container {
    position: relative;
    height: 50px;
  }
  .site-header .header-container .navigation-container .menu-btn {
    display: flex;
    align-items: center;
  }
  .site-header .header-container .navigation-container .menu-container {
    position: absolute;
    top: 60px;
    left: 50%;
    padding: 0;
    overflow: hidden;
    transform: translateX(-50%);
    transition: max-height 0.2s, padding 0.2s, border 0.2s;
    max-height: 0;
    transform-origin: top;
    background-color: #fcfcfc;
    border-radius: 12px;
    border: none;
  }
  .site-header .header-container .navigation-container .menu-container .nav-link {
    font-weight: 700;
  }
  .site-header .header-container .navigation-container .menu-container.collapsed {
    max-height: 100vh;
    padding: 1rem;
    border: 1px solid #808080;
  }
  .site-header .header-container .navigation-container .menu-container ul.nav-link-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .site-header .header-container .navigation-container .menu-container ul.nav-link-list li {
    text-align: center;
  }
  .site-header.scrolled .navigation-container .menu-container {
    border-radius: 0 0 12px 12px;
  }
}
section {
  min-height: 50vh;
  padding: 4rem 1rem;
  position: relative;
}

.container {
  width: auto;
  max-width: 1366px;
  margin: 0 auto;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
}

.btn-hero {
  background: #581ABB;
  background: linear-gradient(208deg, rgb(88, 26, 187) 30%, rgb(140, 100, 204) 100%);
  color: #fcfcfc;
  border: none;
}

.btn-outline {
  background-color: transparent;
  color: #0e0e0e;
  border: 1px solid #0e0e0e;
}

.accordion .acc-item {
  border-bottom: 1px solid #808080;
}
.accordion .acc-item .acc-head {
  display: flex;
  background: none;
  border: none;
  font-size: 1rem;
  justify-content: space-between;
  width: 100%;
  margin: 0.75rem 0;
  align-items: center;
  padding: 0;
  text-align: start;
}
.accordion .acc-item .acc-head::after {
  content: "+";
  margin-left: 1rem;
}
.accordion .acc-item .acc-content {
  max-height: 0;
  transition: max-height 0.2s, padding-bottom 0.2s;
  overflow: hidden;
  padding-bottom: 0;
  color: #1f1f1f;
}
.accordion .acc-item .acc-content p {
  margin: 0;
}
.accordion .acc-item.show .acc-head::after {
  content: "-";
}
.accordion .acc-item.show .acc-content {
  max-height: 500px;
  padding-bottom: 0.5rem;
}

.contact-form {
  padding: 1rem;
  border: 1px solid #808080;
  border-radius: 12px;
  width: 100%;
}
.contact-form input, .contact-form select {
  border: none;
  border-bottom: 2px solid #808080;
  font-size: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 0.25rem;
}
.contact-form input:focus, .contact-form select:focus {
  outline: none;
  border-bottom: 2px solid #FCEF36;
}
.contact-form input::-moz-placeholder, .contact-form select::-moz-placeholder {
  color: #808080;
}
.contact-form input::placeholder, .contact-form select::placeholder {
  color: #808080;
}
.contact-form select {
  min-width: 300px;
}
.contact-form textarea {
  font-size: 1rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
  resize: vertical;
  min-height: 200px;
  width: 100%;
  border: 2px solid #808080;
  border-radius: 12px;
}
.contact-form textarea:focus {
  outline: none;
  border: 2px solid #FCEF36;
}
.contact-form option.placeholder {
  color: #808080;
}
.contact-form .form-info {
  font-size: 0.8rem;
  margin: 0;
}

.hero-section {
  background: #d49639;
  background: linear-gradient(256deg, rgb(212, 150, 57) 0%, rgb(252, 239, 54) 63%);
  color: #0e0e0e;
  position: relative;
  min-height: 25vh;
  padding: 3rem 2rem;
}
.hero-section .hero-container {
  width: auto;
  max-width: 1366px;
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
}
.hero-section .hero-caption {
  width: 40%;
  margin-bottom: 2rem;
}
.hero-section .hero-image {
  width: 60%;
}
.hero-section .hero-image img {
  z-index: 100;
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  position: relative;
}

@media (max-width: 960px) {
  .hero-section {
    padding: 3rem 1rem 4rem 1rem;
  }
  .hero-section .hero-caption {
    width: 50%;
  }
  .hero-section .hero-image {
    width: 50%;
  }
}
@media (max-width: 720px) {
  .hero-section {
    padding: 2rem 1rem 0 1rem;
  }
  .hero-section .hero-container {
    display: flex;
    flex-direction: column;
  }
  .hero-section .hero-container .hero-caption {
    width: 100%;
  }
  .hero-section .hero-container .hero-image {
    width: 100%;
  }
}
.custom-shape-divider-bottom-1755971211 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1755971211 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 120px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1755971211 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 900px) {
  .custom-shape-divider-bottom-1755971211 svg {
    width: calc(150% + 1.3px);
    height: 80px;
  }
}
.testimonials {
  background-color: #eeeeee;
  color: #0e0e0e;
}
.testimonials .title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1rem auto;
  position: relative;
  margin: 2rem auto;
}
.testimonials .title svg {
  position: absolute;
  top: -2rem;
  left: -2rem;
}
.testimonials .title span {
  position: relative;
  font-weight: 700;
}
.testimonials .card-container {
  display: flex;
  justify-content: center;
}
.testimonials .card-container .testimonial-card {
  background-color: #fcfcfc;
  color: #0e0e0e;
  font-weight: 200;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  border: 1px solid #808080;
  position: relative;
  width: 50%;
}
.testimonials .card-container .testimonial-card blockquote {
  margin: 1rem 0;
}
.testimonials .card-container .testimonial-card i {
  font-size: 0.8rem;
}
.testimonials .card-container .testimonial-card svg {
  position: absolute;
  top: -40px;
  left: 0;
  color: #808080;
}

.service-section {
  padding-bottom: 6rem;
}
.service-section .service-row {
  display: flex;
  flex-wrap: nowrap;
}
.service-section .service-row .service-col {
  flex-grow: 1;
  padding: 0 1rem;
}
.service-section .service-row .service-col .heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #808080;
  padding: 0.5rem;
  font-size: 1rem;
}
.service-section .service-row .service-col .heading svg {
  margin: 0;
  height: 1.5rem;
  width: 1.5rem;
  color: #fcfcfc;
}

@media (max-width: 960px) {
  .service-section .service-row {
    flex-direction: column;
  }
}
.custom-shape-divider-bottom-1755987311 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1755987311 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.custom-shape-divider-bottom-1755987311 .shape-fill {
  fill: #eeeeee;
}

html {
  font-size: 32px;
}
html body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 300px;
  background-color: #fcfcfc;
  color: #0e0e0e;
}

@media (max-width: 1366px) {
  html {
    font-size: 24px;
  }
}
@media (max-width: 960px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 18px;
  }
}
h1 {
  font-size: 2rem;
  line-height: 2rem;
}/*# sourceMappingURL=style.css.map */