.site-header{
    background-color:transparent;
    position:fixed;
    width:100vw;
    min-width:300px;
    transition:$transition-color;
    z-index:1000;

    &.scrolled{
        background-color:$color-primary;
        color:$text-primary;
        border-bottom:1px solid $br-color;
    }
    .header-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width: $viewport-lg;
        width: auto;
        margin: 0 auto;
        padding:0.25rem 1rem;

        .site-branding{
            display:flex;
            align-items:center;
            gap:0.5rem;
            h2{
                margin:0;
            }
        }

        .navigation-container{

            .menu-btn{
                display:none;
                height:2rem;
                width:2rem;
                padding:0;
                background-color: $color-invert;
                border:none;
                border-radius:12px;

                svg{
                    margin:auto;
                    height:1.5rem;
                    width:1.5rem;
                    color:$text-invert;
                }
            }

            .menu-container{
                display:inline-block;
                

                ul.nav-link-list{
                    list-style:none;
                    display:flex;
                    align-items:center;
                    gap:1rem;
                    padding:0;
                    margin:0;
                }
            }
        }
    }

}

@media(max-width:$viewport-md){
    .site-header{

        .header-container{
            position:relative;
            height:50px;

            .navigation-container{

                .menu-btn{
                    display:flex;
                    align-items: start;
                }
                .menu-container{
                    position:absolute;
                    top:60px;
                    right:1rem;
                    padding:0;
                    overflow:hidden;
                    transition:max-height 0.2s, padding 0.2s, border 0.2s;
                    max-height:0;
                    transform-origin: top;
                    background-color: $color-primary;
                    border-radius:12px;
                    border:none;
                    width:60%;

                    &.collapsed{
                        max-height:100vh;
                        padding:1rem;
                        border:1px solid $br-color;
                    }

                    ul.nav-link-list{
                        display:flex;
                        flex-direction: column;
                        gap:1rem;
                        li{
                            text-align: start;
                            font-size:1.5rem;
                            border-bottom:1px solid $br-color;
                            width:100%;

                            &.noborder{
                                border-bottom:none;
                            }
                        }
                    }
                }
            }
        }

        &.scrolled{
            .navigation-container{
                .menu-container{
                    border-radius: 0 0 12px 12px;
                }
            }
        }
    }
}