section{
    min-height:50vh;
    padding: 2rem 1rem;
    position:relative;

    .section-heading{
        display:flex;
        flex-direction: column;
        gap:0.25rem;
        margin-top:1rem;
        margin-bottom:2rem;

        p,h1,h2,h3{
            margin:0;
        }
    }
}

.container{
    width:auto;
    max-width:$viewport-lg;
    margin:0 auto;
}

.container-md{
    width:auto;
    max-width:$viewport-md;
    margin:0 auto;
}

.container-sm{
    width:auto;
    max-width:$viewport-sm;
    margin:0 auto;
}

.container-xl{
    width:auto;
    max-width:$viewport-xl;
    margin:0 auto;
}